extends layout

block content

		div(class="hero-unit")
			h1 Planning tool
			p Plans are never followed but planning is everything!
			p
				form(METHOD="LINK", ACTION="/fbauth")
					input(type="submit", value="Login with facebook", class='btn btn-large btn-primary')
