extends layout

block content
	script(type="text/html", id="taskTemplate")
		tr
			td
				input(type='checkbox',data-bind='checked:completed,click:$parent.checkboxClicked')
			td
				span(class="badge badge-important", data-bind="if: $parent.isDue($data)") due
				&nbsp;
				span(data-bind="text: title")
			td
				button(class='btn btn-mini',type='button', data-bind='click:$parent.snoozeTaskWasClicked, visible:$parent.isDue($data)')
					i(class="icon-time")
				&nbsp;
				button(class='btn btn-mini',type='button', data-bind='click:$parent.delTask, visible:$parent.edit')
					i(class="icon-remove")

				
	script(type="text/html", id="completeTaskTemplate")
		tr
			td
				input(type='checkbox',data-bind='checked:completed,click:$parent.checkboxClicked')
			td
				span(data-bind="text: title")
			td
				button(class='btn btn-mini',type='button', data-bind='click:$parent.delTask, visible:$parent.edit')
					i(class="icon-remove")

	h1= title
	div(class='span12')	
		div(class='span6')
			h4 Daily tasks

			table(class='table table-striped')
				thead

				tbody(data-bind="template: { name: 'taskTemplate', foreach: tasks}")

			br
			form(class='form')
				input(ID='title', data-bind='value: title',placeholder="New task", class='input-medium')
				button(data-bind='click:function(){addTaskWasClicked()}', class='btn') Add

		
		br	
		div(class='span6')

			h4 Completed
			br
			table(class='table table-striped')
				thead
				tbody(data-bind="template: { name: 'completeTaskTemplate', foreach: completedTasks}")


		div(class='span6')		
			div(class="span3")
				input(type='checkbox',data-bind='checked:edit') Deletable
			br
			div(class="span3")
				form(METHOD="LINK", ACTION="/logout")
					input(type="submit", value="Logout", class='btn btn-large')

			br
			br
			span(data-bind="visible:edit") To join list:
			span(data-bind="visible:edit, text:listId")

		script(type="text/javascript")
			parameter = {"id": '#{listId}'}

		script(src='/knockout/knockout-2.2.1.debug.js', type='text/javascript')
		script(src='/js/list.js', type='text/javascript')

